{% extends 'base.html.twig' %}


{% block body %}
    
<form method="POST" action="{{path ('voiture_recherche')}}">

  {{ form_widget(recherche_form, { 'attr': {'class': ' col-sm-8 col-sm-offset-2 '} }) }}
     <button type="submit" class="btn   ajouter col-xs-offset-1"><span class="glyphicon glyphicon-search white"></span>Recherche</button>

  </form>
      
{% endblock %}

